/* Style global */
body {
    font-family: Arial, sans-serif;
    background-color: #0a1817;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* Logo indépendant */
.logoP {
    position: absolute;
    top: 2em;
    left: 20px;
    width: 12em;
    height: 10em;
}


/* Barre de navigation */
nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3em;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 5em;
}

nav ul li:hover {
    border-bottom: solid 1px white;
    color: gold;
}

nav ul li {
    position: relative;
    margin: 0 10px;
    color: white;
}

nav a {
    text-decoration: none;
    color: white;
}

/* Sous-menus */
.sous-menu1, .sous-menu2, .sous-menu3, .sous-menu4 {
    display: none;
    position: absolute;
    left: 0;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

nav ul li:hover .sous-menu1,
nav ul li:hover .sous-menu2,
nav ul li:hover .sous-menu3,
nav ul li:hover .sous-menu4 {
    display: block;
}

.sous-menu1 a, .sous-menu2 a, .sous-menu3 a, .sous-menu4 a {
    color: white;
    padding: 12px 16px;
    text-align: left;
    display: block;
    text-decoration: none;
}

.sous-menu1 a:hover, .sous-menu2 a:hover, .sous-menu3 a:hover, .sous-menu4 a:hover {
    color: gold;
}


table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

img {
    width: 100px;
    height: auto;
}

table{
    position: absolute;
    top: 18em;
    left: 26em;
    width: 46em;
    height: 20em;
    color: white;
}

h1{
    padding-top: 5em;
    display: flex;
    justify-content: center;
}

th{
    color: black;
}

h1{
    color: white;
}

/* Style pour agrandir l'image au survol */
.tableau-img img {
    transition: transform 0.3s ease; /* Transition douce */
    width: 100px; /* Taille initiale */
}

.tableau-img img:hover {
    transform: scale(1.5); /* Agrandissement au survol */
    cursor: pointer; /* Change le curseur pour indiquer qu'on peut interagir */
}






